<div class="footer-bottom navbar-inverse {% if page.url == '/' %}footer-fixed{% endif %}">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div style="color: #c4c4c4; padding: 15px;">2015-2022 Jan Kristof Nidzwetzki</div>
				</div>
				<div class="col-sm-8">
				<div style="color: #c4c4c4; padding: 15px;">
					We would like to thank ej-technologies GmbH. They provided us a free open source license for 
					<a href="https://www.ej-technologies.com/products/jprofiler/overview.html">JProfiler</a>
				</div>
			</div>
		</div>
</div>
