<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="key-value store, bounding box, distributed storage manager, bboxdb, fault tolerant storage, big data, multi-dimensional data" />
<meta name="description" content="BBoxDB is a distributed and highly available key-bounding-box-value store designed to handle multi-dimensional big data." />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>BBoxDB - A distributed storage manager for multi-dimensional big data.</title>

<script src="/assets/css/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="/assets/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/assets/css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="/assets/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<!-- Custom styles for this template -->
<link rel="stylesheet" href="/assets/css/jumbotron.css">
</head>

